---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Skeleton Cameras',
	description: 'Description of the work on Skeleton Cameras',
};
---

<!-- <AnnouncementBar text="Go to the Monash website" href="https://www.monash.edu/smart-manufacturing-hub" slot="announcement-bar"/> -->
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Getting the trajectories of people movement</h1>
			<p>This work will use various cameras (e.g. ZED2I, AI Kit) to detect the trajectories of movement of the people in the space. </p>
		</div>
		<div slot="btns-container">
			<Button href="https://docs.google.com/presentation/d/1FY9W9Vrbija7xoiucRBsJp1_ZBJwf4kX0-FISW12G1o/edit?usp=share_link" customIcon
				> To the demo slide <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/smh_imgs/example_cam.png"
				alt="gif camera"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>  
</Layout>

