---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Environmental Sensors',
	description: 'Description of the work on Environmental Sensors',
};
---

<!-- <AnnouncementBar text="Go to the Monash website" href="https://www.monash.edu/smart-manufacturing-hub" slot="announcement-bar"/> -->
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Environmental data collection</h1>
			<p>This sub-project helps gathering all the needed information of the surrounding (e.g. Carbon Dioxide or Temperature). This will create a foundation on how the enviroment can affect the people and workplace.</p>
		</div>
		<div slot="btns-container">
			<Button href="http://13.55.132.220:3000/public/dashboard/8401de7b-8eb9-415b-a7de-3eafc0df0fcf" customIcon
				>To the dashboard <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/smh_imgs/env.jpg"
				alt="Env"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>  
</Layout>

