---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | MSMH',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Monash Smart Manufacturing Hub (MSMH)</h1>
			<p>
				Create the smart hub
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/MSMH_high.png"
        alt="Image of MSMH"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      First ever
    </p>
    <p>
      Working on
    </p>
  </TextSection>
</Layout>
