---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | MSMH',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Monash Smart Manufacturing Hub (MSMH)</h1>
			<p>
				One of the first SMH solution that comes to life.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/MSMH_high.png"
        alt="Image of MSMH"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      The SMH Data platform (vendor neutral) enables the DT usecases by solving the problem of ingesting, processing and analyzing raw, structured and unstructured data from IoT/IIoT devices as well as from vendor platforms (closed eco-systems)
    </p>
    <p>
      SMH Data platform provides an open method for researchers and engineers within Monash University to use and process data in a real-time and offline modes directly from the data storage
    </p>
    <p>SMH Data Platform provides an easy to use analytical dashboard which is scalable for various usecases
    </p>
    <p>SMH Data Platform can easily be integrated with different systems by accessing data securely

    </p>
  </TextSection>
</Layout>
